<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler,Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler,Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="file://services.xml"/>
    
    </context>
    <objects xmlns="http://www.springframework.net">
      <!--<description>An example that demnstrate simple IoC features.</description>

      --><!--IoC控制反转--><!--
      <object name="UserInfoService" type="CUIT.NewOA.SpringNet.UserInfoService,CUIT.NewOA.SpringNet">
        --><!--DI依赖注入,可以初始化属性的值。注意此处的Person,而不是Age,因为在UserInfoService中属性是Person,而不是Age--><!--
        <property name="UserName" value="Ulrica"/>
        <property name="Person" ref="Person"/>
      </object>
      
      <object name="Person" type="CUIT.NewOA.SpringNet.Person,CUIT.NewOA.SpringNet">
        <property name="Age" value="18"/>
      </object>-->

    </objects>
  </spring>
</configuration>